thead
    tr
        th Position
        th Nickname
        th Rating
        th Team

tbody
    each user in users
        tr
            th #{user.position}
            th #{user.nickname}
            th #{user.rating}
            th #{user.team}
