thead
    tr
        th Position
        th Nickname
        th Rating
        th Team

tbody
    each player in players
        tr
            th #{player.position}
            th #{player.nickname}
            th #{player.rating}
            th #{player.team}

//h2(class)
//div#player-position(class="player-info player-info-column-name") Position
//div#player-nickname(class="player-info player-info-column-name") Nickname
//div#player-rating(class="player-info player-info-column-name") Rating
//div#player-team(class="player-info player-info-column-name") Team
//
//
