#players-rating {
    /*display: none;*/
    color: antiquewhite;
}

#players-rating {
    width: 60%;
    float: left;
    margin-top: 20px;
    margin-left: 25%;
    border-top: 3px #db6e6e;
    border-left: 3px #db6e6e;
    /* border-width: 5px; */
}

.player-info {
    font-size: 1.3em;
    /*width: 20%;*/
    /*margin: 5px 0%;*/
    margin-top: 5px;
    /*margin-right: 10%;*/
    flex-basis: 150px;
    float: left;
}

.section-paragraph {
    display: flex;
    justify-content: space-between;
}

.player-info-column-name span {
    font-size: 1.1em;
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
    display: inline-block;
}

