#main {
    width: 60%;
    float: left;
    margin-top: 20px;
    margin-left: 3%;
}

aside {
    width: 30%;
    float: left;
    margin-left: 2%;
    margin-top: 20px;
}

h2.heading {
    font-weight: lighter;
    font-size: 1.6em;
    font-family: 'Sedgwick Ave', cursive;
    border-bottom: 2px solid #db6e6e;
    float: left;
    /* float в данном случае укорачивает линии */

    color: #462f2f;
    padding: 0px 5px;
}

.heading:first-letter {
    color: #db6e6e;
}

.article {
    width: 40%;
    float: left;
    margin-right: 10%;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    box-sizing: border-box; 
    /* чтобы наш border входил в данные 40% */
    max-width: 350px;
    border-radius: 5px 5px 0px 0px;
}

.article>img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
    height: 100px;
}

.article>span {
    font-size: 1.3em;
    width: 80%;
    margin: 7px 10%;
    float: left;
    text-align: center;
    color: rgb(0, 0, 0);
}