
/* HEADER */


/* FOOTER */
#footer {
    padding: 4rem 0 2rem 0 ;
    background: #000;
    text-align: center;
}

    #footer ul li {
        display: inline-block;
    }

    #footer a {
        color: rgba(255, 255, 255, 0.5);
    }

        #footer a:hover {
            color: #FFF;
        }

    #footer .copyright {
        color: #bbb;
        font-size: 0.9rem;
        margin: 0 0 2rem 0;
        padding: 0;
        text-align: center;
    }

    @media screen and (max-width: 736px) {

        #footer {
            padding: 3rem 0 1rem 0 ;
        }

    }

/* FOOTER END */

.main_container {
    text-align: center;
}


.mySlides {
    /* width: 60%; */
    top: 10px;
    position: relative;
    z-index: -1;
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}