.central-part {
    width: 70%;
    height: 500px;
    /* background-color: green; */
    background-color: transparent;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
  
    /* left: 25%; */
}
#left-column {
    width: 25%;
    height: 500px;
    background-color: red;
    float: left;
}

#right-column {
    width: 75%;
    height: 500px;
    background-color: rgb(49, 141, 133);
    float: right;
}

#avatar {
    width: 150px;
    height: 150px;
    float: left;
}

.inf {
    display: inline-block;
}